body {
	background-color: white;
        align: center;
        font-family: arial;
        color: #111111;
	margin-left: 10px;
	scrollbar-arrow-color: #771111;
	scrollbar-3dlight-color: #771111;
	scrollbar-darkshadow-color: #771111;
	scrollbar-face-color: #f4f4f0;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #d0d0d0;
	scrollbar-track-color: #ffffff;
}

div {
	border: 0px
	padding: 0px;
        width: 1000px;
}

h1 {
	font-family: arial;
	font-size: 14pt;
	margin: 0.25em; 
}

h2 {
	font-family: arial;
	font-size: 13pt;
	margin: 0.25em; 
}

h3 {
	font-family: arial;
	font-size: 12pt;
	margin: 0.25em;
}

td img {display: block;}

/*************************** IDs ******************************/

#header {
  font-family: arial;
  font-size: 30pt;
  width: 608px;
  height: 50px;
  clear: left;
}

#preboard {
	clear: left;
	height: 48px;  
	width: 587px; 
        overflow: auto;
}

#board {
	float: left;
	height: 587px;  
	width: 587px; 
        overflow: auto;
	font-size: 10pt;
	border-width: 0px; 
	padding: 0px;
}

#right {
	clear: right;
	margin-top: 16px;
	height: 587px;  
	width: 310px; 
        overflow: auto;
	font-size: 10pt;
}

#p1tria {
	color: #ff1100;
	clear: left;
}

#p2tria {
	color: #ff1100;
	clear: left;
}

#p1tessera {
	color: #ff1100;
	clear: left;
}

#p2tessera {
	color: #ff1100;
	clear: left;
}

#p1taken {
	float: left;
	color: #27408B;
	clear: left;
}

#p2taken {
	float: left;
	color: #27408B;
	clear: left;
}

/*************************** Classes ******************************/

.clear{clear:both;} 

.right{float: right;} 

.left{float: left;}  

.indent-right{float: right; margin-right: 0.5em;} 

.indent-left{float: left; margin-left: 0.5em;}  

.profile{float: left; margin-left: 0.5em;}

.player {
	float: left;
        overflow: auto;
	font-size: 10pt;
        width: 300px;
	height: 280px;
}